html, body {
  overflow-x: hidden;
}
@import "tailwindcss";

:root {
  --ucm-red: #A60000;
  --ucm-black: #000000;
  --ucm-white: #FFFFFF;
  --ucm-gray: #CCCCCC;
}


@theme {
  --color-background: var(--ucm-white);
  --color-foreground: var(--ucm-black);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
